.grid {
  padding: 20px;
  margin: 40px;
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #bbbbbb;
}

.grid div {
  height: 38px;
  width: 38px;
  background-color: #eeeeee;
  font-size: 16px;
  text-align: center;
  border: 1px solid black;
}

.checked {
  background-color: #cccccc !important;
}
